<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Items

    <a data-toggle="collapse" href="#contact_items_new_form">
      Add listing
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @contact.items.each do |listing| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to listing, listing %>

        <%= link_to listing, method: :delete, data: { confirm: "Do you really want to delete this listing" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="contact_items_new_form">
        <%= render partial: "contacts/contact_items_new_form" %>
      </div>
    </div>

  </ul>
</div>
